---
import ServiceItem from "./ServiceItem.astro";

const serviceItems = [
    {id:1, title:"Investigação de Áreas Contaminadas",link:"/servico",img:"https://via.placeholder.com/585x300", icon: "/assets/flask.png", color: "--first-color"}, 
    {id:2, title:"Laudo de Cobertura Vegetal",link:"/laudo-de-cobertura-vegetal",img:"https://via.placeholder.com/585x300", icon: "/assets/forest.png", color: "--second-color", reversed: true},
    {id:3, title:"Autorização de Supressão de Vegetação Nativa",link:"",img:"https://via.placeholder.com/585x300", icon: "/assets/tractor.png", color: "--third-color"},
    {id:4, title:"Compensação Ambiental e Plantio de Mudas Nativas",link:"",img:"https://via.placeholder.com/585x300", icon:"/assets/sprout.png", color: "--fourth-color", reversed: true},
    {id:5, title:"Adequação Ambiental de Propriedades Rurais",link:"",img:"https://via.placeholder.com/585x300", icon:"/assets/rural-space.png", color: "--fifth-color"},
    {id:6, title:"Projetos Socioambientais",link:"",img:"https://via.placeholder.com/585x300", icon: "/assets/save-the-planet.png", color: "--sixth-color", reversed: true},
]
---
<ul class="menu__list">
    {serviceItems.map((item, index) => (
        <li><ServiceItem key={index}  title={item.title} link={item.link} img={item.img} icon={item.icon} color={item.color} reversed={item.reversed}/></li>
    ))}
</ul>

<style>
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
ul li:first-child {
    margin-top: 0;
}
li{
    margin-top: 1rem;
}

</style>