---
// Component Imports

import MainLayout from "../Layouts/MainLayout.astro";
import DividerTitle from "../components/DividerTitle.astro";
import Divider from "../components/Divider.astro";
import FooterContactData from "../components/Footer/FooterContactData.astro";

import Site from "../components/Site.json";

const activeNavOption = "Contato";
---

<MainLayout activeNav={activeNavOption}>
  <main class="main">
    <DividerTitle title={"Contato"} color={"--sixth-color"} />

    <section class="full__background drop-area-box">
      <div class="container">
        <div class="panel contact__form__container">
          <form id="formElement" class="contact__form">
            <h2 class="panel__title">Entre em contato:</h2>
            <div class="input__container">
              <label class="label" for="name">Nome:</label>
              <input
                name="name"
                class="input__text"
                type="text"
                id="name"
                placeholder="Seu nome ..."
              />
            </div>
            <div class="input__container">
              <label class="label" for="email">Email:</label>
              <input
                class="input__text"
                type="email"
                id="email"
                name="email"
                placeholder="seu@email.com.br"
              />
            </div>
            <div class="input__container">
              <label class="label" for="phone">Telefone:</label>
              <input
                class="input__text"
                type="tel"
                id="phone"
                name="tel"
                placeholder="(XX) X XXXX-XXXX"
              />
            </div>
            <div class="input__container">
              <label class="label" for="message">Mensagem:</label>
              <textarea
                class="input__text text__area"
                id="message"
                name="message"
                resize="none"
                type="text"
                placeholder="Escreva aqui sua mensagem..."></textarea>
            </div>
            <div class="input__container">
              <button class="submit" type="submit">Enviar</button>
            </div>
          </form>
        </div>

        <div class="panel contact__info">
          <h2 class="panel__title">Nossos Dados:</h2>
          <ul class="navigation__list contact__list">
            <li class="contact__item">
              <div class="svg__container">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="clock"
                  class="svg-inline--fa fa-clock"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  ><path
                    fill="currentColor"
                    d="M256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512zM232 256C232 264 236 271.5 242.7 275.1L338.7 339.1C349.7 347.3 364.6 344.3 371.1 333.3C379.3 322.3 376.3 307.4 365.3 300L280 243.2V120C280 106.7 269.3 96 255.1 96C242.7 96 231.1 106.7 231.1 120L232 256z"
                  ></path></svg
                >
              </div>
              <div class="contact__text__container">
                <p>Horário Comercial</p>
                <p>Segunda à Sexta das 8h até 17h</p>
              </div>
            </li>
            <li class="contact__item row">
              <div class="svg__container">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="envelope"
                  class="svg-inline--fa fa-envelope"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  ><path
                    fill="currentColor"
                    d="M256 352c-16.53 0-33.06-5.422-47.16-16.41L0 173.2V400C0 426.5 21.49 448 48 448h416c26.51 0 48-21.49 48-48V173.2l-208.8 162.5C289.1 346.6 272.5 352 256 352zM16.29 145.3l212.2 165.1c16.19 12.6 38.87 12.6 55.06 0l212.2-165.1C505.1 137.3 512 125 512 112C512 85.49 490.5 64 464 64h-416C21.49 64 0 85.49 0 112C0 125 6.01 137.3 16.29 145.3z"
                  ></path></svg
                >
              </div>
              <div class="contact__text__container">
                <p>Email</p>
                <p>
                  <a
                    target="_blank"
                    rel="noreferrer noopener"
                    href={`mailto:${Site.contact.emails[0]}`}
                  >
                    {Site.contact.emails[0]}
                  </a>
                </p>
              </div>
            </li>
            <li class="contact__item row" id="ab">
              <div class="svg__container">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="square-phone-flip"
                  class="svg-inline--fa fa-square-phone-flip"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                  ><path
                    fill="currentColor"
                    d="M0 96v320c0 35.35 28.65 64 64 64h320c35.35 0 64-28.65 64-64V96c0-35.35-28.65-64-64-64H64C28.65 32 0 60.65 0 96zM105.5 303.6l54.24-23.25c6.391-2.766 13.9-.9062 18.24 4.484l22.02 26.91c34.63-17 62.77-45.14 79.77-79.75l-26.91-22.05c-5.375-4.391-7.211-11.83-4.492-18.22l23.27-54.28c3.047-6.953 10.59-10.77 17.93-9.062l50.38 11.63c7.125 1.625 12.11 7.891 12.11 15.22c0 126.1-102.6 228.8-228.7 228.8c-7.336 0-13.6-4.984-15.24-12.11l-11.62-50.39C94.71 314.2 98.5 306.6 105.5 303.6z"
                  ></path></svg
                >
              </div>
              <div class="contact__text__container">
                <p>Telefone</p>
                <p>
                  <a
                    target="_blank"
                    rel="noreferrer noopener"
                    href={`tel:${Site.contact.phones[0].link}`}
                    >{Site.contact.phones[0].text}</a
                  >
                </p>
              </div>
            </li>

            <li class="contact__item row">
              <div class="svg__container">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fab"
                  data-icon="whatsapp"
                  class="svg-inline--fa fa-whatsapp"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                  ><path
                    fill="currentColor"
                    d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                  ></path></svg
                >
              </div>
              <div class="contact__text__container">
                <p>Whatsapp</p>
                <p>
                  <a
                    target="_blank"
                    rel="noreferrer noopener"
                    href={`https://wa.me/${Site.contact.whatsapp[0].link}`}
                    >{Site.contact.whatsapp[0].text}</a
                  >
                </p>
              </div>
            </li>
            <li class="contact__item row">
              <div class="svg__container">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="location-dot"
                  class="svg-inline--fa fa-location-dot"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                  ><path
                    fill="currentColor"
                    d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"
                  ></path></svg
                >
              </div>
              <div class="contact__text__container address">
                <p>Enderço</p>
                <p>{Site.contact.address[0].street}</p>
                <p>{Site.contact.address[0].place}</p>
                <p>{Site.contact.address[0].cep}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <Divider />
  </main>
  <section class="overlay">
    <div class="modal__container">
      <div class="modal">
        <p class="modal__text trigger">Mensagem enviada!</p>
        <svg
          version="1.1"
          id="tick"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 37 37"
          style="enable-background:new 0 0 37 37;"
          xml:space="preserve"
        >
          <path
            class="circ path"
            style="fill:none;stroke:#000;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;"
            d="
	M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
          ></path>
          <polyline
            class="tick path"
            style="fill:none;stroke:#000;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;"
            points="
	11.6,20 15.9,24.2 26.4,13.8 "></polyline>
        </svg>
      </div>
    </div>
  </section>
</MainLayout>
<script>
  const formElement = document.querySelector("#formElement");
  const submitBtn = document.querySelector(".submit");
  const overlay = document.querySelector(".overlay");
  const modal = document.querySelector(".modal");
  const trigger = document.querySelector(".trigger");
  formElement.addEventListener("submit", onSubmit);

  async function onSubmit(e) {
    e.preventDefault();
    const formData = new FormData(formElement);
    formData.append("service_id", "service_cma2qch");
    formData.append("template_id", "template_a1nyz3t");
    formData.append("user_id", "user_Vl2zrsz4TLXCvwi8yGChH");

    try {
      overlay.style.visibility = "visible";
      overlay.style.opacity = 1;
      modal.transform = "translate3d(0, 2rem, 0)";
      console.log(submitBtn);
      trigger.classList.add("drawn");
      setTimeout(() => {
        overlay.style.visibility = "hidden";
        overlay.style.opacity = 0;
        trigger.classList.remove("drawn");
      }, 2000);
      // let response = await fetch(
      //   "https://api.emailjs.com/api/v1.0/email/send-form",
      //   {
      //     method: "POST",
      //     body: formData,
      //   }
      // );
    } catch (error) {
      console.log(error);
    }
  }
</script>

<style>
  .main {
    margin-top: 1rem;
  }
  .full__background {
    width: 100%;
    height: 100%;
    background-image: url(/assets/contact/1.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  .container {
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
  }
  .panel {
    width: 40%;
    padding: 2rem;
    margin-block: 3rem;
    /* background-color: #5757574a; */
    background-color: #575757bd;
    backdrop-filter: blur(3px);
    border-radius: 6px;
  }
  .panel__title {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--sixth-color);
    margin-bottom: 0.5em;
  }
  .input__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: white;
  }
  .input__text {
    padding: 0.5em;
    margin-block: 0.5rem;
    border-radius: 4px;
    border: 0px;
  }
  .text__area {
    height: 6rem;
  }
  .input__text {
    transition: border-color 0.5s ease-out;
  }
  .submit {
    padding: 0.5em;
    width: 100px;
    align-self: flex-end;
    color: white;
    background-color: var(--first-color);
    border-color: var(--first-color-dark);
  }
  .submit:focus,
  .submit:hover {
    background-color: var(--first-color-dark);
  }

  ul {
    list-style: none;
    padding: 0;
  }
  .contact__item {
    display: flex;
    padding-block: 0.8em;
  }
  p {
    color: white;
    font-weight: 300;
    margin-bottom: 0.2em;
    word-break: break-all;
  }
  .contact__text__container.address p {
    margin-bottom: 0px;
  }
  .contact__text__container {
    padding-inline: 0.5rem;
  }
  .contact__text__container p:first-child {
    font-weight: bold;
  }
  .svg__container svg {
    height: 28px;
    aspect-ratio: 1;
  }
  .svg__container svg path {
    fill: white;
  }

  .overlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
  }
  .modal__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .modal {
    padding: 2rem;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    max-width: 400px;
    transition: all 0.4 ease-in-out;

    display: flex;
    align-items: center;
  }
  .modal__text {
    color: black;
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .modal svg {
    height: 40px;
    aspect-ratio: 1;
  }
  .modal svg .path {
    stroke: var(--first-color) !important;
  }
  .circ {
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    transition: all 1s 0.4s;
  }
  .tick {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    transition: stroke-dashoffset 1s 1s ease-out;
  }
  .drawn + svg .path {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  @media (max-width: 820px) {
    .container {
      width: 100%;
      padding-inline: 1rem;
    }
  }

  @media (max-width: 600px) {
    .main {
      margin-top: 0px;
    }
    .container {
      width: 100%;
      flex-direction: column;
      padding: 1rem;
    }
    .panel {
      margin-block: 1rem;
      width: 100%;
    }
  }
</style>
