---
import NavBtn from "./NavBtn.astro";

let menuItems = [
        {title:"Home",link:"/", active: false},
        {title:"Empresa",link:"/empresa", active: false},
        {title:"Serviços",link:"/servicos", active: false},
        {title:"Contato", link:"/contato", active: false}
    ];

const {activeNav} = Astro.props;

console.log({activeNav})
menuItems.forEach(function(item){
    if(item.title === activeNav){
        item.active = true;
    }
});
console.log({menuItems});
---

<nav class="nav">
    <ul
    id="primary__navigation"
    data-visible="false"
    class="primary__navigation"
    >
        {menuItems.map((item,index) => <li key={index}><NavBtn title={item.title} link={item.link} active={item.active}/></li>)}
    </ul>
</nav>

<style>
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
        z-index: 10;
    }
    li {
        margin-inline: 0.5rem;
    }
    @media (max-width: 600px){
        .primary__navigation {
            position: fixed;
            z-index: 1000;
            inset: 0 0 0 0;
    
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            padding: min(54%, 15rem) 2rem;

            background-color: var(--menu-color);

            transform: translateY(-100%);
            transition: transform 0.55s ease-out;

            overflow-y: hidden;
        }
        .primary__navigation[data-visible="true"] {
            transform: translateX(0);
            overflow-y: hidden;
        }
        li{
            margin: 0 auto;
            text-align: center;
        }
    }
</style>
